#!/bin/sh
# .aliases

echo "Loading aliases..."

### shortcuts

alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'
alias la='ls -la'
alias emoji='cd ~/Documents/slack-emoji/emoji/'
alias less='less -R'

### grep

# CONSIDER using `ag`, since it automatically ignores any files in .gitignore 
# https://github.com/ggreer/the_silver_searcher instead

# -I skips binary files
#alias g='grep -Ir --color=always'
alias g="grep -Ir --color=always \
  --exclude={\*.min.js,\*.log,\*.wsdl,\*.jar,main.map,emailable-report.html,\*build/main.js,\*.js.map,\*.server.js,package-lock.json,\*.d.ts,yarn.lock,tsconfig.tsbuildinfo} \
  --exclude-dir={bootstrap-3.0.0,target,node_modules,surefire-reports,.git,test-output,.nui,lib,platform-release,build,.nyc_output,lcov-report,coverage,cache,.idea,Pods} \
  "

hist() {
  g "$1" ~/.zsh_history
}

### git 

alias gd='git diff'
alias gdw='git diff --word-diff'
alias gs='git status'
alias gco='git co --'
alias ga='git add'
alias grh='git reset HEAD'
alias gp='git pull'
alias gpr='git pull --rebase'
alias gprom='git pull --rebase origin main'
alias gb='git br'
alias gph='git push origin HEAD'

function grhco {
  git reset HEAD $1;
  git co $1;
}  

function gcoom {
  git checkout origin/main $1;
}  


### text editors 

alias vi='/bin/env vim'

# Set up a symlink so that sublime can be opened from the command line
# Note March 2018: the if block stopped working, I just ran the following one-liner instead:
# mkdir ~/bin; ln -s "/Applications/Sublime Text.app/Contents/SharedSupport/bin/subl" ~/bin/sublime
# sublime_link='/usr/local/bin/sublime'
#if [ ! -L ${sublime_link} ] || [ ! -e ${sublime_link} ] ; then
#  ln -s "/Applications/Sublime Text.app/Contents/SharedSupport/bin/subl" ${sublime_link}
#fi

alias sz='source ~/.zshrc'
alias subz='subl ~/.zshrc'
alias suba='subl ~/.aliases'

### NPM

# alias npmbs='npm run build && npm run start'
# alias npmb='npm run build'
# alias npms='npm run start'

### Yarn

alias yrt='yarn run test'
alias yrtc='yarn run test:core'
alias yrtw='yarn run test:web'

alias yws='yarn workspace web dev'
alias yas='yarn workspace admin dev'
alias ywc='yarn workspace web compile'
alias ywcl='yarn workspace web clean'
alias ywcs='yarn workspace web compile && yarn workspace web dev'
alias ywccs='yarn workspace web clean && yarn workspace web compile && yarn workspace web start'
# alias yms='yarn workspace mobile start'

### Maven

# alias mlint='mvn antrun:run@ktlint-format'
# alias mci='mvn clean install'




