[user]
	email = awilbur@forhims.com
	name = Alison Wilbur
[core]
	editor = subl -n -w
	autocrlf = false
[alias]
  s = status
  br = branch
  brd = branch --sort=-committerdate 
  brdd = git for-each-ref --sort=-committerdate refs/heads/
  co = checkout
  com = checkout main
  cp = cherry-pick
  d = diff
  dw = diff --word-diff
  a = add
  l = log
  lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
  lg = !"git lg1"
  lgd = log -p
  logd = log -p
  lgf = log --stat
  logf = log --stat
  prb = pull --rebase
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
